.nav {
    height: 40px;
    width: calc(100% - 40px);
    margin: 0px 20px 0px 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
}

.nav-logo {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    z-index: 2;
}

.nav-bar {
    display: flex;
    z-index: 2;
}

.nav-item {
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}